<div class='container-lg'>
    <br>
    <div class='container mx-auto container-burg'>
        <div class='row mx-auto'>
            <div class='col-md-4 border border-dark border-3 mx-auto ready mt-0'>
                <h2 id='eatBurger'>Burgers to Eat:</h2>
                <div class='container'>
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <li>
                                    {{burger_name}}
                                    <button type='button' class='eat-btn move-burger btn btn-sm' data-id='{{id}}'>Eat!</button>
                                </li>
                                <br>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class='col-md-4 border border-dark border-3 mx-auto devoured mt-0'>
                <h2 id='devoured'>Devoured Burgers:</h2>
                <div class='container'>
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <li>
                                    {{burger_name}}
                                </li>
                                <br>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class='container-lg'>
  <div class='col-md-10 border border-dark border-3 new'>
        <div class='row mx-auto' style='justify-content: center; text-align: center;'>
            <h2 style='font-weight: bold;'>It's Burger Time!</h2>
        </div>
        <br>
        <form class='makeBurgerForm'>
            <div class='form-group row mx-auto' style='justify-content: center; text-align: center;'>
                <div class='col-sm-2'>
                    <label for='makeBurgerName' class='col-form-label'>Add Burger:</label>
                </div>
                <div class='col-sm-6'>
                    <input type= 'text' class= 'form-control' id= 'makeBurgerName' placeholder= 'Burger Name'>
                </div>
            </div>
            <br>
            <div class='form-group row mx-auto' style='justify-content: center; text-align: center;'>
                <div class='col-sm-10'>
                    <button type='submit' class='letUsEat btn'>Let's do this!</button>
                </div>
            </div>
        </div>
            <br>
        </form>
    </div>
